/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

li{
  list-style: none;
}

#index_submit{
  margin-top:20px;
}

/* .hedder_left{
  margin: 5px; */
  /* margin-right: 5px; */
  /* float: left; */
  /* display: block; */
/* } */

.hedder_right{
  float: right;
  color: white;
  /* margin: 5px; */
  margin-left:40px;
}

header{
  background-color: rgb(241, 165, 18);
  /* float:left; */
  height: 5rem;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul{
  margin: 0;
  padding: 2%;
}

.herder_menu li a{
color: #fff;
text-decoration: none;
}

.herder_menu li a:hover {
  text-decoration: underline;
}

.herder_menu{
  /* position:static; */
  position: relative;

}
#assy{
  font-size: 50px;
  /* padding-bottom; */
  float: left;
  /* margin:auto; */
  position: absolute;
  top:0px;
  left:20px;
}

.sessions{
  background-color: rgb(242, 107, 8);
  background-image: url("/images/driving_blue.png");
}

.session_new{
  text-align: center;
  background-color: white;
  margin-left: 15rem;
  margin-right: 15rem;
  height: 35rem;
  padding-top:3rem;
}

.registrations{
  background-color: rgb(242, 107, 8);
  background-image: url("/images/driving_blue.png");
}

.registrations_new{
  text-align: center;
  background-color: white;
  margin-left: 15rem;
  margin-right: 15rem;
  height: 35rem;
  padding-top:3rem;
}

.field2 p{
  margin-bottom: 0;
}
