// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current_user_class{
  background-color: red;
}
.other_user_class{
  background-color: blue;
}

.user_comments{
  overflow:auto;
}
