th{
  width: 200px;
}

.blank{
  margin-top:20px;
}
#table_follow{
  width:30%;
}

#user_image{
  // text-align: right;
  float: right;
  // margin: 0 0 0 auto;
}

.user_data{
  margin-right:30%;
  // float:left;
}
